@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Ludo game</h1>

    <p>
        <a asp-page="Ludo/Index">Gameboard</a> <!-- temp, todo: remove -->
        <a asp-page="Ludo/New">New Game</a>
        <a asp-page="Ludo/Load">Load Game</a>
    </p>
</div>
<form>
</form>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@{
    if (Model.Gameboards != null)
    {
        <table>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Gameboards[0].ID)</th>
                <th>@Html.DisplayNameFor(m => m.Gameboards[0].GameStartDate)</th>
                <th># of @Html.DisplayNameFor(m => m.Gameboards[0].Players)</th>
                <th># of @Html.DisplayNameFor(m => m.Gameboards[0].Squares)</th>
                <th>@Html.DisplayNameFor(m => m.Gameboards[0].CurrentPlayer)</th>
            </tr>
            @foreach (var gameboard in Model.Gameboards)
            {
                <tr>
                    <td><a asp-page="Ludo/Index" asp-route-id="@gameboard.ID">@gameboard.ID</a></td>
                    <td>@gameboard.GameStartDate</td>
                    <td>@gameboard.Players.Count</td>
                    <td>@gameboard.Squares.Count</td>
                    <td>(@gameboard.CurrentPlayer.ID), @gameboard.CurrentPlayer.Name, @gameboard.CurrentPlayer.Color</td>
                </tr>
            }
        </table>
    }
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>






